	
	@font-face {
	  font-family: "source_sans_pro";
	  font-style: normal;
	  font-weight: 400;
	  src: url("https://cdn13-b.imagestore.lv/static/site10/fonts/websites-font-regular.woff?58b6e472643ab") format("woff"), url("https://cdn13-b.imagestore.lv/static/site10/fonts/websites-font-regular.ttf?58b6e472643ab") format("truetype");
	}
		
	@font-face {
	  font-family: "source_sans_pro_light";
	  src: url("https://cdn13-b.imagestore.lv/static/site10/fonts/websites-font-light.woff?58b6e472643ab") format("woff"), url("https://cdn13-b.imagestore.lv/static/site10/fonts/websites-font-regular.ttf?58b6e472643ab") format("truetype");
	}
		
	html, body, .wysiwyg{
		background-color:#cccccc;
		padding:0 !important;
		margin:0 !important;
		height:100%;
		width:100%;
	}
	
	.rewards-wrapper-clear{
		display:block;
		height:1px;
		width:100%;
		clear:both;
	}	
		
	.rewards-wrapper *, .rewards-wrapper *:before, .rewards-wrapper *:after {
		-webkit-user-select: none;        
		-moz-user-select: none;
		-ms-user-select: none;
	}
		
	.rewards-wrapper, .rewards-wrapper *{
		font-family: 'source_sans_pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		vertical-align:bottom;
		box-sizing: border-box;
		position:relative;
		padding:0;
		margin:0;
	}					
		
	.rewards-wrapper{
		border:0px solid #cc0000;
		background-color:#242424;
		position:relative;
		max-width:1140px;
		width:100%;
		margin:0 auto;
	}	
		
	.rewards-vertical-parent{
		font-family:inherit;
		display:table !important;
		height:100%;
		width:100%;
	}
		
	.rewards-vertical{
		font-family:inherit;
		display:table-cell !important;
		vertical-align:middle !important;
		height:100%;
		width:100%;
	}
		
	section{
		width:100%;
		padding:0;
		margin:0;
	}	
		
	.rewards-logo-wrapper{
		vertical-align:middle;
		padding:12px 15px;
		max-height:74px;
		width:100%;
	}
		
	.rewards-logo-wrapper *{
		display:inline-block;
		max-width:200px;
		height:50px;
	}
		
	.rewards-banner-wrapper img{
		width:100%;
	}
		
	.reward-blocks, .rewards-skinny-blocks, .rewards-footer,
	.redeem-my-points, .redeem-lines-icons{
		background-color:#ffffff;
	}
		
	.rewards-block-wrapper{
		width:100%;
		padding:4px;		
	}		
		
	.rewards-skinny-block-wrapper{
		width:100%;
		padding:30px;		
	}	
		
	.rewards-block-list, .rewards-skinny-block-list{
		text-align:center;
		list-style:none;
	}
		
	.rewards-block-list li{
		font-family: 'source_sans_pro_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		border:4px solid #ffffff;
		background-color:#f7f7f7;
		text-transform:uppercase;
		color:#464646;
		font-size:28px;
		display:inline-block;
		
		height:206px;
		max-width:278px;
		width:100%;
	}
   
	.rewards-block-list li a{
		font-size:18px;
		text-transform:capitalize;
		text-decoration:none;
		color:#cc0000;
		display:block;
		clear:both;
	}
		
	.rewards-block-list li a:hover{
		text-decoration:underline;
		color:#cc0000;
	}
		
	.rewards-skinny-block-list li{
		position:relative;
		font-family: 'source_sans_pro_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		border:1px solid #b7b7b7;
		color:#464646;
		font-size:24px;
		padding:26px 0;
		margin:14px 0;
		max-width:530px;
		width:100%;
		display:inline-block;
	}
		
	.rewards-skinny-block-margin{
		margin-right:14px !important;
	}
		
	.reward-skinny-badge{
		position:absolute;
		margin-top:-50px;	
		margin-left:-22px;
	}
		
	.redeem-my-points{
		text-align:center;
		min-height:75px;
	}
		
	.cta{
		border-top:0;
		border-right:0;
		border-bottom:2px solid #981216;
		border-left:0;
		
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		
		outline:0;
		font-size:21px;
		line-height:21px;
		text-transform:uppercase;
		text-decoration:none;
		background-color:#cc0000;
		padding:9px 12px;
		color:#ffffff;
		display:inline-block;
		cursor:pointer;
	}
		
	.cta:hover{
		border-bottom:2px solid #ba290F;
		background-color:#de1a00;
	}
		
	.redeem-cta{
		margin-top:24px;
		max-width:312px;
		width:100%;
	}
		
	.rewards-num{
		display:inline-block;
	}
		
	.redeem-lines-icons{
		position:relative;
		background-image:url('https://www.bovada.lv/contents/rewards/rewards-background.jpg');
		background-position:center top;
		background-size:cover;
		
	}	
		
	.redeem-wrapper{
		position:relative;
		overflow:hidden;
		height:100%;
		width:100%;
	}
		
	.rewards-main-intro-copy{
		max-width:600px;
	}
		
	.redeem-main-line{
		position:relative;
		padding: 110px 7.25% 0 7.25%;
		margin:0 auto;
		height:100%;
		width:85.5%;
		z-index:1;
	}	
		
	.redeem-main-line h2{
		font-family:'source_sans_pro_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		background-image:url('https://www.bovada.lv/contents/rewards/reward-main-icons.png');
		background-repeat:no-repeat;
		box-sizing: border-box;
		color:#464646;
		font-size:46px;
		width:inherit;
		height:inherit;
		display:inline;
	}
		
	.redeem-main-line h2.rewards-have-fun{
		background-position:0 -1px;
		margin-left:-69px;
		padding-left:69px;
	}
		
	.redeem-main-line h2.rewards-get-rewarded{
		background-position:right -72px;
		margin-right:-69px;
		padding-right:69px;
		text-align:right;
		float:right;
		right:69px;
	}
		
	.redeem-main-line h2.rewards-earn-points{
		background-position:0 -143px;
		margin-left:-69px;
		padding-left:69px;
	}
		
	.redeem-main-line p{
		margin-bottom:46px;
		font-size:19px;
		color:#a2a2a2;
	}
		
	.redeem-main-line p span{
		padding-top:28px;
		color:#bf3b24;
		margin:15px 0;
		display:block;
		clear:both;
	}
		
	.rewards-main-copy-left{
		max-width:512px;
		width:100%;		
		float:left;
	}
		
	.rewards-main-copy-right{
		margin-top:68px;
		max-width:278px;
		width:100%;
		float:right;
	}	
		
	.rewards-main-copy-right p{
		text-align:right;
		float:right;
		padding:0;
		margin:0;
	}

	.rewards-main-copy-right p span{
		padding:0;
		margin:0;
	}
		
	.rewards-main-copy-title{
		font-family:'source_sans_pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
		font-size:14px !important;
		color:#000000 !important;
	}	
		
	.rewards-main-copy-buffer{
		text-align:center;
		width:64px;
		float:right;
	}	
		
	.rewards-right-main-copy{
		font-family:'source_sans_pro_light', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
		text-transform:uppercase;
		font-size:54px !important;
		line-height:54px;
		color:#a2a2a2 !important;
	}	
		
	.rewards-right-copy-middle{
		margin:84px 0;
	}
		
	.rewards-right-copy-middle .rewards-right-main-copy{
		font-size:28px !important;
		margin-right:30px;
	}	
		
	.rewards-right-copy-left{
		padding-right:15px !important;
	}
		
	.rewards-cash-icon, .rewards-cash-back-icon, .rewards-cash-lvl-icon{
		background-image:url('https://www.bovada.lv/contents/rewards/reward-main-icons.png');
		background-repeat:no-repeat;
		font-size:40px !important;
		text-align: left !important;
		color:#000000 !important;
		line-height:54px;
		height:60px !important;
		width:90px !important;
		float:right;
	}
		
	.rewards-cash-icon{
		background-position:30px -209px;
	}	
		
	.rewards-cash-back-icon{
		background-position:30px -275px;
	}
		
	.rewards-cash-lvl-icon{
		background-position:30px -339px;
	}
		
	.rewards-svg-wrapper{
		position:absolute;
		top: 0;
		left: 0;
		right:0;
		bottom:0;
		z-index:0;
	}
		
	.rewards-lines-svg{
		margin-top:-20px;
		height:100%;
		width:100%;
	}	
		
	.rewards-simple-table-wrapper{
		max-width:560px;
		margin:0 auto;
		width:100%;
	}	
		
	.rewards-simple-table{
		margin-top:50px;
	}

	.rewards-simple-table-body{
		vertical-align:middle;
		display:table;
		width:100%;
	}
		
	.rewards-simple-table-row{
		display:table-row;
		width:100%;
	}	
 
	.rewards-simple-table-cell{
		vertical-align:middle;
		display:table-cell;
		padding:10px 0;
		text-align:left;
		font-size:18px;
	}	
		
	.rewards-table-cell-icon{
		width:9%;
	} 	

	.rewards-table-cell-copy{
		padding-left:6px;
		width:60%;
	}

	.rewards-table-cell-money{
		text-align:center;
		padding-left:6px;
		width:24%;
	}

	.rewards-table-cell-points{
		text-align:center;
		width:6%;
	}	
		
	.table-cell-h{
		font-size:12px !important;
		text-align:center;
	}
		
	.rewards-simple-note{
		color:#000000 !important;
		font-size:15px !important;
		padding-top:50px !important;
		padding-bottom:0px !important;
		max-width:476px;
		width:100%;
		text-align:center;
		margin:0 auto;
	}
		
	.rewards-line-icons{
		position:absolute;
		margin-left:-31px;
		margin-top:-31px;
		width:62px;
		height:62px;
		z-index:3;
	}
		
	.rewards-table-cell-icon{
		background-image:url('https://www.bovada.lv/contents/rewards/rewards-table-icons.png');
		background-repeat:no-repeat;
		min-width:33px;
	}
		
	.rewards-table-icon-sports{
		background-position:2px 0;
	}
		
	.rewards-table-icon-casino{
		background-image:url('https://www.bovada.lv/contents/rewards/casinoiconv2.png') !important;
		background-position:0 center;
	}
		
		
	.rewards-simple-list{
		max-width: 120px;
		width: 100%;
		text-align: left;
		margin: 0 auto;
		padding-bottom:30px;
	}

	.rewards-simple-list li{
		color:#000000 !important;
		font-size:14px !important;
		padding:0 !important;
	}	
	
	.rewards-second-list{
		max-width: 1000px;
		width: 100%;
		text-align: left;
		margin: 0 auto;
		padding-bottom:30px;
		padding-left:50px;
	}

	.rewards-second-list ul{
		color:#ffffff !important;
		padding:0 !important;
	}	
	.rewards-second-list li{
		color:#ffffff !important;
		font-size:16px !important;
		padding-left:50px;
		padding-top:10px;
		padding-bottom:10px;
		list-style: inside;
	}	
		
	.new-link{
		position:absolute;
		left:0;
		right:0;
		margin:0 auto;
		z-index:999;
		bottom:-25px;
	}	
		
	.rewards-table-icon-poker{
		background-position:0 -66px;
	}
		
	.rewards-table-icon-horses{
		background-position:0 -129px;
	}
		
	.rewards-footer{
		padding:103px 0;
		text-align:center;
	}
		
	.rewards-footer-header{
		font-family: 'source_sans_pro_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin-bottom:50px;
		font-size:38px;
		color:#464646;
	}	
		
	.rewards-footer-terms-wrapper{
		margin-bottom:76px;
	}
		
	.rewards-footer-terms-link{
		text-decoration:none;
		font-weight:bold;
		color:#ad9574 !important;
	}
		
	.rewards-footer-terms-link:hover{
		text-decoration:underline;
	}
		
	.rlp-wrapper *, .rlp-wrapper *:before, .rlp-wrapper *:after {
		-webkit-user-select: none;        
		-moz-user-select: none;
		-ms-user-select: none;
	}
	
	.rlp-msg{
		position:fixed;
		border:1px solid #343434;
		background-color:#c1c1c1;
		text-transform:uppercase;
		color: #3d3d3d;
		text-align:center;
		font-size:10px;
		bottom:0;
		right:0;
		padding:4px;
		z-index:99;
		
	}
	
	.rlp-hide{
		visibility:hidden;
	}
	
	.rlp-clear{
		display:block;
		height:133px;
		clear:both;
	}
		
	.rlp-wrapper, .rlp-wrapper *{
		font-family: 'source_sans_pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position:relative;
		padding:0;
		margin:0;
	}					
		
	.rlp-wrapper{
		position:relative;
		max-width:1134px;
		width:100%;
		margin:0 auto;
	}
		
	.rlp-main-header_wrapper{
		text-align:center;
		height:204px;
	}
		
	.rlp-main-title{
		font-family: 'source_sans_pro_light', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;	
		text-transform:uppercase;
		line-height:204px;
		color:#cc0000;
		font-size:60px;
			
	}
		
	.rlp-left-col{
		position:absolute;
		top:0;
		left:0;
		width:162px;
		margin-top:80px;
		z-index:1;
		padding:0;
	}	
		
	.rlp-left-col li{
		border-bottom:1px solid #343434;
		font-size:12px;
		background-color:#c1c1c1;
		list-style: outside none;
		text-transform:uppercase;
		text-align:center;
		color:#3d3d3d;
		height:58px;
	}
		
	.rlp-left-col-bar{
		background-color:#333333 !important;
		height:26px !important;
		color:#bf3b24 !important;
		letter-spacing:5px;
		
	}	
		
	.rlp-left-col-table{
		display:table;
		height:100%;
		width:100%;
	}
		
	.rlp-left-col-cell{
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}
		
	.rlp-lvl{
		border-bottom:0 !important;
	}
		
	.rlp-tri{
		background-image:url('https://www.bovada.lv/contents/rewards/down-triangle.gif');
		background-position:50% -2px;
		background-repeat:no-repeat;
	}
		
	.rlp-table-wrapper{
		overflow: hidden;
		padding-top: 120px;
		top: -60px;
	}	
		
	.rlp-stage{
		width:972px;
		display:block;
	}	
		
	.rlp-table{
		background-color:#282828;
		text-align:center;
		padding-left:162px;
		margin-top:60px;
		width:100%;
	}
	
	.rlp-table ul{
		margin-top:-60px;
	}

	.rlp-table ul li{
		list-style: outside none;
		font-size:13px;
		width:162px;
		float:left;
	}
		
	.badge-bg, .badge-img{
		background-position:center center;
		background-repeat:no-repeat;
		height:140px;
		width:162px;
	}
	
	.badge-bg{
		background-image:url('https://www.bovada.lv/contents/rewards/black.png');
		background-repeat:repeat !important;
	}
		
	.rlp-bar{
		background-color:#333333;
		line-height:26px;
		height:26px;
	}
		
	.rlp-bar span{
		background-image:url('https://www.bovada.lv/contents/rewards/bar-colors.gif');
		vertical-align:middle;
		display:inline-block;
		max-width:105px;
		width:100%;
		height:5px;
		padding:0;
		margin:0;
	}
		
	.starter .badge-img{
		background-image:url('https://www.bovada.lv/contents/rewards/starter.png');	
	}
		
	.starter-color{
		background-position:0 0;
	}
		
	.rookie .badge-img{	
		background-image:url('https://www.bovada.lv/contents/rewards/rookie.png');	
	}
		
	.rookie-color{
		background-position:0 -5px;
	}	

	.pro .badge-img{
		background-image:url('https://www.bovada.lv/contents/rewards/pro.png');	
	}
		
	.pro-color{
		background-position:0 -10px;
	}	

	.star .badge-img{
		background-image:url('https://www.bovada.lv/contents/rewards/star.png');	
	}
		
	.star-color{
		background-position:0 -15px;
	}	

	.legend .badge-img{
		background-image:url('https://www.bovada.lv/contents/rewards/legend.png');	
	}
		
	.legend-color{
		background-position:0 -20px;
	}	

	.legend .badge-img{
		background-image:url('https://www.bovada.lv/contents/rewards/legend.png');	
	}
		
	.legend-color{
		background-position:0 -21px;
	}

	.fame .badge-img{
		background-image:url('https://www.bovada.lv/contents/rewards/fame.png');	
	}
		
	.fame-color{
		background-position:0 -25px;
	}				
	
	.rlp-copy{
		color:#bcbcbc;
		padding:0 3px;
		height:58px;
	}
	
	.rlp-copy-table{
		display:table;
		height:100%;
		width:100%;
	}

	.rlp-copy-cell{
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}
	
	.rlp-mobile-nav-wrapper{
		position:relative;
		background-image:url('https://www.bovada.lv/contents/rewards/mobile-menu-bg.gif');
		background-position:center center;	
		background-repeat:repeat;
		max-width:1134px;
		height:158px;
		margin:0 auto;
		width:100%;
	}
		
	.rlp-mobile-nav-center{
		position: relative;
		overflow:hidden;
		height:140px;
		width:162px;
		margin:0 auto;
	}

	.rlp-mobile-nav-center *{
		height:120px;
		width:162px;
	}
		
	.rlp-mobile-nav{
		position:relative;
		width:972px;
		left:0; /* move with this */
	}
		
	.rlp-mobile-nav .badge-bg{
		background-image:none !important;
	}
		
	.rlp-mobile-nav-center .badge-img{
		background-position:0 -10px !important;
	}
			
	.rlp-mobile-nav, .rlp-mobile-nav-ul{
		padding:0;
		margin:0;
	}
		
	.rlp-mobile-nav li{
		list-style:none;
		padding:0;
		margin:0;
		float:left;
	}		
		
	.rlp-mobile-nav-left, .rlp-mobile-nav-right{
		top:0;
		position:absolute;
		background-position:center center;	
		background-repeat:no-repeat;
		cursor:pointer;
		height:100%;
		width:58px;
		z-index:1;
	}
		
	.rlp-mobile-nav-left{
		border:0;
		border-right:3px solid #161616;
		background-image:url('https://www.bovada.lv/contents/rewards/left_arrow.png');
		left:0;
	}
		
	.rlp-mobile-nav-right{
		border:0;
		border-left:3px solid #161616;
		background-image:url('https://www.bovada.lv/contents/rewards/right_arrow.png');
		right:0;			
	}
		
	.dots-wrapper, .rlp-dots{
		text-align:center;
		vertical-align:middle;
		height:38px;
		width:100%;
		padding:0;
		margin:0;
	}
		
	.dots-wrapper{
		position: absolute;
		bottom: 0;
	}
		
	.rlp-dots li{
		background-image:url('https://www.bovada.lv/contents/rewards/navigation_btn.png');
		background-position:center center;	
		background-repeat:no-repeat;
		padding:0 8px;
		display:inline-block;
		cursor:pointer;
	}
		
	.current_dots{
		background-image:url('https://www.bovada.lv/contents/rewards/navigation_btn_active.png') !important;
	}
		
	.rlp-left-col-mobile{
		width:45% !important;
		margin-top:158px;
	}
		
	.rlp-table-mobile{
		padding-left:45% !important;
	}
		
	.rlp-table-mobile .rlp-table-wrapper{
		background-color:#282828;
	}	
		
	.rlp-table-mobile .badge-bg{
		display:none;
	}

	.rlp-table-mobile ul li *{
		width:100% !important;
	}

	.rlp-table-stretch *{
		width:100% !important;
	}
		
	.rlp-nav-left, .rlp-nav-right{
		border:0;
		position:absolute;
		background-repeat:no-repeat;
		cursor:pointer;
		top:0px;
		height:79px;
		width:45px;
		z-index:2;
	}
		
	.rlp-nav-left{
		background-image:url('https://www.bovada.lv/contents/rewards/desktop-nav-left.png');
		background-position:left center;
		left:0;
	}
		
	.rlp-nav-right{
		background-image:url('https://www.bovada.lv/contents/rewards/desktop-nav-right.png');
		background-position:right center;
		right:0;			
	}
		
	.btn-gray{
		background-color:#404040;
	}
		
	.btn-round{
		position:relative;
		text-align:center;
		padding:5px;
		font-size:13px;
		line-height: 30px;
		color:#337ab7;
		float:right;
		text-decoration:none;
		border-radius: 0px;
		display: table;
		padding: 14px 30px;
		color:#ffffff;
	}	
		
	@media(max-width:1140px){
		
	.logo .rewards-logo-wrapper *{
		margin:0 auto;
		display:block;
	}
		
	.rewards-block-list li{
		max-width:100% !important;
		width:49.5% !important;
	}
		
	.rewards-skinny-block-list li{
		margin:17px 0 !important;
		max-width:100% !important;
	}
		
	.redeem-main-line{
		padding-top:60px !important;
	}
		
	.redeem-main-line h2{
		font-size:36px !important;
		background-image:none !important;
		margin:0 !important;
		padding:0 !important;
		text-align:left !important;
		float:none !important;
		right:auto !important;
	}
		
	.redeem-main-line p span{
		margin-top:20px !important;
		padding-top:0 !important;
	}
		
	.redeem-cta{
		width:90% !important;
	}
		
	.rewards-main-copy-right{
		display:none;
	}
		
	.rewards-simple-table-wrapper{
		/* margin:0 !important;*/
	}
		
	.rewards-svg-wrapper{
		display:none;
	}	
		
	.rewards-main-intro-copy, .rewards-main-copy-left{
		max-width:100%;
	}
		
}

	@media(max-width:570px){
		
		.rlp-main-header_wrapper{
			height:auto !important;
		}
			
		.rlp-main-title{
			padding:30px 5px !important;
			line-height:38px !important;
			font-size:38px !important;
		}	
			
		.rewards-block-list li{
			max-width:100% !important;
			width:100% !important;
		}
			
		.rewards-simple-table-cell{
			font-size:15px !important;
		}
		
	}